absl_py==2.1.0+computecanada
astunparse==1.6.3+computecanada
attrs==24.2.0+computecanada
charset_normalizer==3.2.0+computecanada
click==8.1.7+computecanada
click-plugins==1.1.1+computecanada
cligj==0.7.2+computecanada
fiona==1.9.6+computecanada
flatbuffers==24.3.25+computecanada
gast==0.6.0+computecanada
geopandas==0.14.4+computecanada
google-pasta==0.2.0+computecanada
grpcio==1.62.1+computecanada
h5py==3.11.0+computecanada
idna==3.4+computecanada
joblib==1.4.2+computecanada
keras==3.5.0+computecanada
libclang==14.0.1+computecanada
Markdown==3.7+computecanada
markdown_it_py==3.0.0+computecanada
MarkupSafe==2.1.5+computecanada
mdurl==0.1.2+computecanada
ml_dtypes==0.4.0+computecanada
namex==0.0.8+computecanada
numpy==1.26.4+computecanada
opt_einsum==3.3.0+computecanada
optree==0.10.0+computecanada
packaging==24.1+computecanada
pandas==2.2.1+computecanada
protobuf==4.25.4+computecanada
pygments==2.18.0+computecanada
python_dateutil==2.9.0.post0+computecanada
pytz==2024.1+computecanada
requests==2.31.0+computecanada
rich==13.8.0+computecanada
scikit_learn==1.5.0+computecanada
scipy==1.13.1+computecanada
shapely==2.0.4+computecanada
six==1.16.0+computecanada
sklearn==0.0+computecanada
tensorboard==2.17.1+computecanada
tensorboard_data_server==0.7.2+computecanada
tensorflow_io_gcs_filesystem==0.32.0+computecanada
termcolor==2.4.0+computecanada
threadpoolctl==3.5.0+computecanada
typing_extensions==4.12.2+computecanada
tzdata==2024.1+computecanada
urllib3==2.1.0
werkzeug==3.0.3+computecanada
wrapt==1.16.0+computecanada
