absl_py==2.1.0+computecanada
astunparse==1.6.3+computecanada
certifi==2024.2.2
charset-normalizer==3.2.0
flatbuffers==24.3.25+computecanada
gast==0.5.4
google-pasta==0.2.0+computecanada
grpcio==1.62.1+computecanada
h5py==3.11.0+computecanada
idna==3.4
joblib==1.4.2+computecanada
keras==3.3.3
libclang==14.0.1+computecanada
Markdown==3.5.2
markdown_it_py==3.0.0+computecanada
MarkupSafe==2.1.5+computecanada
mdurl==0.1.2+computecanada
ml-dtypes==0.3.2
namex==0.0.8+computecanada
numpy==1.26.4+computecanada
opt_einsum==3.3.0+computecanada
optree==0.10.0+computecanada
packaging==24.1+computecanada
pandas==2.2.1+computecanada
protobuf==4.25.4+computecanada
pygments==2.18.0+computecanada
python_dateutil==2.9.0.post0+computecanada
pytz==2024.1+computecanada
requests==2.31.0
rich==13.7.1+computecanada
scikit_learn==1.5.0+computecanada
scipy==1.13.1+computecanada
six==1.16.0+computecanada
tensorboard==2.16.2+computecanada
tensorboard-data-server==0.7.0
tensorflow==2.16.1+computecanada
tensorflow_io_gcs_filesystem==0.32.0+computecanada
termcolor==2.4.0+computecanada
threadpoolctl==3.5.0+computecanada
typing_extensions==4.12.2+computecanada
tzdata==2024.1+computecanada
urllib3==2.1.0
werkzeug==3.0.3+computecanada
wrapt==1.16.0+computecanada
